<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      name="Error - No Provider name"
      connectionString="XXX"
      providerName=""/>
    <add
      name="Test DB Connection"
      connectionString="Server=(local);Database=TestDB;Trusted_Connection=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>